body {
  font-family:"Avenir New";
  text-decoration:none; 
}
li {
  list-style: none;
}
.header {
  background-color:#00bfff;
  height:150px;
  width:100%;
  color:#ffffff
}
.header-logo {
  float:left;
  font-size:66px;
  padding:20px 40px;
}
.header-list li {
  float:right;
  padding:33px 20px;
}
.umaban {
  width:600px;
  height:380px;
}

.footer {
  background-color:#4b0082;
  height:80px;
  width:100%;
  color:#ffffff;
}
.footer-logo {
  font-size:24px;
  float:left;
  padding:0px 20px;
}
.footer-attention-links {
  font-size:12px;
  float:right;
  padding:0px 20px;
  margin:0px;
  color:#ffffff;
}
.footer-linktext {
  float:right;
  padding:0px 20px;
}
